.section2 { margin-top: 220px; border: 1px solid var(--titlecolor); border-left: none; border-right: none; }



.section2 {   }
.section2 .top {  border-bottom: 1px solid var(--titlecolor);  }
.section2 .top > ul { display: flex; }
.section2 .top > ul > li {   }

/* 공통통 */
.section2 > div > ul > li .title { display: flex; border-bottom: 1px solid var(--titlecolor); padding: 24px 20px; background: var(--background); 
position: relative; z-index: 2; justify-content: space-between; font-size: 20px; font-weight: 600; color: var(--titlecolor);

}
.section2 > div > ul > li .title img { mix-blend-mode: difference; display: none; }

.section2 > div > ul > li .content { margin: 24px 20px;  }
.section2 > div > ul > li .content .text-wrap {   }
.section2 > div > ul > li .content .text-wrap span {  display: block;  }
.section2 > div > ul > li .content .text-wrap p {  margin: 0 0 20px; line-height: 1.8em; }
.section2 > div > ul > li.infobox .content .text-wrap p:last-child {  margin: 0 0 45px; }




.section2 .top > ul > li.photobox {   position: relative; width: 23%; border-right: 1px solid var(--titlecolor); overflow: hidden; }
.section2 .top > ul > li.photobox .content { margin: 0; }
.section2 .top > ul > li.photobox > .content > div > img { width: calc(100% - 40px); margin: 20px; }
.section2 .top > ul > li.photobox > .content .mouseMove {  position: absolute; top: 10px; left: 10px;  display: flex; align-items: flex-start; 
    background: #EFEFEF; background:rgba(239,239,239,0.5); backdrop-filter: blur(15px); display: flex; 
    padding: 14px 18px ; border-radius: 2px;    white-space: nowrap;
}
.section2 .top > ul > li.photobox > .content .mouseMove img { display: inline-block; margin-right: 8px;  position: relative; top: 4px;}
.section2 .top > ul > li.photobox > .content .mouseMove span {  color: #202328; font-weight: 500; font-family: "Slabo 27px", serif; }

.section2 .top > ul > li.infobox { width: 23%; border-right: 1px solid var(--titlecolor); }
.section2 .top > ul > li.infobox .text-wrap span { margin-bottom: 10px; color: var(--titlecolor); font-weight: 600; }

.section2 .top > ul > li.activities {  width: 54%; }


.section2 .bottom {  }
.section2 .bottom > ul { display: flex;  }
.section2 .bottom .skils {  width: 46.1%; border-right: 1px solid var(--titlecolor); }
.section2 .bottom .skils .content {   }
.section2 .bottom .skils .content .text-wrap { display: flex;  }
.section2 .bottom .skils .content .text-wrap p {  margin-right: 75px; line-height: 2.5em; }

.section2 .bottom .skils .content .icon { max-width: 600px;  }
.section2 .bottom .skils .content .icon > div {   }
.section2 .bottom .skils .content .icon > div > ul { display: flex; flex-wrap: wrap; }

.section2 .bottom .skils .content .icon > div > ul > li { width: calc(16% - 10px); margin: 0 10px 20px 0;  }
.section2 .bottom .skils .content .icon > div > ul > li::before { display: none; }
.section2 .bottom .skils .content .icon > div > ul > li img { background: #fff; border-radius: 4px; width: 100%; }
.section2 .bottom .skils .content .icon > div > ul > li:nth-child(3) img { background: rgb(30, 30, 32); }


.section2 .bottom .skils .content .showicon { cursor: pointer; display: flex; align-items: center; justify-content: flex-end; margin-top: 14px; }
.section2 .bottom .skils .content .showicon > img { margin-right: 5px; }




.section2 .bottom .license { width: 33%; border-right: 1px solid var(--titlecolor); }

.section2 .bottom .tmi { width: 21%;  }
.section2 .bottom .tmi .content {   }
.section2 .bottom .tmi .content .text-wrap {  display: flex; margin: 0 -20px 0 0; }
.section2 .bottom .tmi .content .text-wrap span { width: 8%; font-family: "Noto Sans KR"; }
.section2 .bottom .tmi .content .text-wrap .textAni { width: 92%; overflow: hidden; height: 28px; margin-bottom: 17px; position: relative; }
.section2 .bottom .tmi .content .text-wrap .textAni p {  white-space: nowrap; margin: 0; 
    position: absolute; left: 0; animation: section2TextAni 8s linear infinite;
}
.section2 .bottom .tmi .content .text-wrap .textAni:nth-child(odd) p {  animation: section2TextAni 9s linear infinite;  }
.section2 .bottom .tmi .content .text-wrap .textAni p:hover { animation-play-state: paused; }


@media screen and (min-width : 1100px) {
    .section2 .top,
    .section2 { border: none; position: relative; }
    
    .section2::after { content: ""; width: 0%; height: 1px; background: var(--titlecolor); position: absolute; display: block; right: 0; top: -1px; transition: all 3s; }

    .section2 .top::before ,
    .section2::before { content: ""; width: 0%; height: 1px; background: var(--titlecolor); position: absolute; display: block; right: 0; bottom: 0px; transition: all 3s; z-index: 2; }
    .section2 > div > ul > li .title { border: none ; }
    .section2 > div > ul > li .title::before { content: ""; width: 0%; height: 1px; background: var(--titlecolor); position: absolute; display: block; left: 0; bottom: 0px; transition: all 3s; z-index: 2; }
    

   
    .section2 .bottom li ,
    .section2 .top > ul > li { border: none !important; position: relative; }

    .section2 .bottom li::before { content: ""; width: 1px; height: 0px; background: var(--titlecolor); position: absolute; display: block; right: 1px; bottom: 0px; transition: all 3s; z-index: 3; }
    .section2 .top > ul > li::before { content: ""; width: 1px; height: 0px; background: var(--titlecolor); position: absolute; display: block; right: 0; bottom: 0px; transition: all 3s; z-index: 3; }



    .section2.on .top::before,
    .section2.on::after { width: 100%; }
    .section2.on::before { width: 100%; }
    .section2.on > div > ul > li .title::before { width: 100%; }
    .section2.on .top > ul > li::before { height: 100%; }
    .section2.on .bottom li::before { height: 100%; }



    .section2 > div > ul > li:last-child::before { display: none; }
    .section2 .bottom li:last-child::before { display: none; }

}





@keyframes section2TextAni{
    0% { transform: translate(0% , 0); }
    100% {transform: translate(-50% , 0); }
}

.section2 .bottom .tmi .content .anoter { margin-top: 50px;  }
.section2 .bottom .tmi .content .anoter img { display: inline-block; margin-right: 8px; mix-blend-mode: difference; }


@media screen and (max-width : 1100px) { 
    .section2 > div > ul > li .title img { display: block; }


    .section2 {  border-bottom: none; margin-top: 80px;  }
    .section2 .top {  border-bottom: none;  }
    .section2 > div > ul { display: block !important;  }
    .section2 > div > ul > li {  width: 100% !important; }

    /* 공통통 */
    .section2 > div > ul > li .title { z-index: 2; padding: 15px 15px; background: var(--background); border-top: 1px solid var(--titlecolor); margin-top: -1px; }
    .section2 > div > ul > li .title img { mix-blend-mode: difference; display: block; transform: rotate(0deg); }

    .section2 > div > ul > li .content { height: 0; overflow: hidden; margin: 0;  transition: all .6s;  }
    .section2 > div > ul > li .content .text-wrap {   margin: 24px 0px 0; padding: 0 15px;  }
    .section2 > div > ul > li .content .text-wrap span {  display: block;  }
    .section2 > div > ul > li .content .text-wrap p {  margin: 0 0 20px; line-height: 1.8em; font-size: 14px; }
    .section2 > div > ul > li.infobox .content .text-wrap p:last-child {  margin: 0 0 45px; }

    .section2 > div > ul > li.on .title img { transform: rotate(-180deg); }


    .section2 .top > ul > li.photobox > .content > div img { width: calc(100% - 30px); padding: 20px 0; margin: 0 15px; }
    .section2 .top > ul > li.photobox > .content .mouseMove {  top: 30%; left: 50%; transform: translate(-50% ,-50%) !important; z-index: 1; font-size: 14px; padding: 10px; max-width: 287px;
        width: 70%; }
    .section2 .top > ul > li.photobox > .content .mouseMove img { width: 20px; margin: 0; padding: 0; margin-right: 10px; }
    



    .section2 .bottom .skils .content .showicon { padding: 0 15px 40px; }
    .section2 .bottom .tmi .content .anoter { padding: 0 15px 40px; border-bottom: 1px solid var(--titlecolor); }

    .section2 .bottom .skils .content .icon > div > ul > li { width: calc(20% - 10px);   }
    .section2 .bottom .skils .content .icon { padding-top: 25px; }


    .section2 .content > div { padding-bottom: 30px; }


    .section2 .top > ul > li.activities .text-wrap:last-child { padding-bottom: 40px; }
    .section2 .bottom .license .text-wrap:last-child { padding-bottom: 40px; }
    .section2 .bottom .tmi .text-wrap:first-child { padding-top: 30px; }


    .section2 .bottom .license,
    .section2 .bottom .skils ,
    .section2 .top > ul > li { border-right: none !important; }
}


@media screen and (min-width : 1100px) { .section2 > div > ul > li .content { height: auto !important; } }