.section01 {  }

/* section01 */
.mo { display: none; }
.section01 {  height: 100vh; display: flex; align-items: center; }
.section01 h1 { margin: 0;  color: var(--gray4);   line-height: 1.3em;}
.section01 h1 span { margin: 0; font-weight: bold; color: var(--titlecolor); }
.section01 small { font-size: 1.5vw; display: block; margin-bottom: 1.5vw; font-weight: 500; }
.section01 .textAniContainer { position: relative; }
.section01 .textAniContainer .text {  }
.section01 .textAniContainer .substance { position: absolute; top: 0; left: 0; }

.section01 .textAniContainer h1 { font-size: 4.3vw; opacity: 0.1; }
.section01 .textAniContainer .substance h1  { opacity: 1; }
.section01 .textAniContainer .substance h1 {
   width: 0; white-space: nowrap; overflow: hidden;
   animation: textAnima  linear forwards;
} 

.section01 small { animation: textAnima1 linear 1s forwards; }
.section01 .textAniContainer .substance h1:nth-child(1) { animation-duration: 0.5s; animation-delay: 0.5s;  }
.section01 .textAniContainer .substance h1:nth-child(2) { animation-delay: 1s;  animation-duration: 1s; }
.section01 .textAniContainer .substance h1:nth-child(3) { animation-delay: 2s; animation-duration: 1.5s;}
.section01 .textAniContainer .substance h1:nth-child(4) { animation-delay: 2s; animation-duration: 1.5s;}
.section01 .textAniContainer .substance h1:nth-child(5) { animation-delay: 2s; animation-duration: 3s; }


@keyframes textAnima1{
    0% {
        opacity: 0;
        transform: translate(0 , 30px);
    }
    100% {
        opacity: 1;
        transform: translate(0 , 0px);
    }
}


@keyframes textAnima{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}



@media screen and (max-width : 1100px) { 
    .pc { display: none; }
    .mo { display: block; }
    .section01 .textAniContainer h1 { font-size: 9.3vw; }
    .section01 small { font-size: 4vw; margin-bottom: 6.66vw; }
    
    .section01 .textAniContainer .substance h1:nth-child(1) { animation-duration: 0.5s; animation-delay: 0.5s;  }
    .section01 .textAniContainer .substance h1:nth-child(2) { animation-delay: 1s;  animation-duration: 0.5s; }
    .section01 .textAniContainer .substance h1:nth-child(3) { animation-delay: 1.5s; animation-duration: 0.5s;}
    .section01 .textAniContainer .substance h1:nth-child(4) { animation-delay: 2s; animation-duration: 0.5s;}
    .section01 .textAniContainer .substance h1:nth-child(5) { animation-delay: 2.5s; animation-duration: 0.5s; }


}

 
/* section01 */

.LoadingAnima { position: relative; display: flex; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: helloWorld2 1s 2s forwards;
}
.LoadingAnima svg { transform: scale(1.2); }
.LoadingAnima h1 { position: absolute;left: 50%; top: 50%; transform: translate(-50%,  -50%); font-size: 1.3vw; margin: 0; color: var(--titlecolor); 
    animation: helloWorld 1s forwards; transform-origin: 50%; text-align: center; white-space: nowrap;
}

@keyframes helloWorld {
    0% { opacity: 0;  transform: translate(-50%,  -50%) scale(0.8); }
    100% { opacity: 1; transform: translate(-50%,  -50%) scale(1.5); }
}
@keyframes helloWorld2 {
    0% { opacity: 1;  }
    100% { opacity: 0; }
}

@media screen and (max-width : 1100px) { 
    .LoadingAnima svg { transform: scale(1); width: 100%; }
    .LoadingAnima h1 { font-size: 7vw; }
}