.section3 {  } 
.section3 .title { padding: 13vw 0; text-align: center;  border-bottom: 1px solid var(--titlecolor); } 
.section3 .title h2 { font-size: 3.333vw; color: var(--titlecolor); font-weight: 600; margin: 0; line-height: 1.3em; transform: translate(0, 100px); opacity: 0; transition: all 0.6s; margin: 0;} 
.section3 .title p { font-size: 1.04vw; margin: 0; margin-top: 0.78vw; display: block;  transform: translate(0, 100px);  opacity: 0;  transition: all 0.6s; } 

.section3.on h2 ,
.section3.on p { opacity: 1; transform: translate(0, 0px);  transition: all 1s;  }
.section3.on p { transition: all 1s 0.4s; }

.section3 .project-list {  } 
.section3 .project-list ul {  } 
.section3 .project-list ul li { border-bottom: 1px solid var(--titlecolor); display: flex; padding: 5.2vw 0 0; height: 34vw; overflow: hidden; transition: all 1s; } 
.section3 .project-list ul li .left { width: 18%; } 
.section3 .project-list ul li .left > div { margin: 0 var(--leftright); } 
.section3 .project-list ul li .left p { font-size: 1.5vw; font-weight: 500; margin: 0; line-height: 1.5em; } 
.section3 .project-list ul li .left span { font-size: 1vw; } 

.section3 .project-list ul li .right { width: 82%; } 
.section3 .project-list ul li .right > div { display: flex; height: 100%; } 
.section3 .project-list ul li .right > div .text { width: 46%; } 
.section3 .project-list ul li .right > div .text h2 { line-height: 1.3em; font-size: 3.3vw; color: var(--titlecolor); font-weight: 600; margin: 0; } 
.section3 .project-list ul li .right > div .text pre { width: 50%;  margin: 0; margin-top: 15px; font-size: 0.78vw; } 
.section3 .project-list ul li .right > div .text a { justify-content: center; display: flex; width: 9.3vw; padding: .78vw 0; border: 1px solid var(--textcolorw); color: var(--textcolorw); margin-top: 2.6vw; mix-blend-mode: difference; font-weight: 300;
font-size: 0.78vw;
} 
.section3 .project-list ul li .right > div .text a img {  margin-left: 0.78vw; transform: translate(0,0); transition: all .3s; width: 1vw;}    
.section3 .project-list ul li .right > div .text a:hover img { transform: translate(10px , 0);  }

.dark .section3 .project-list ul li .right > div .text a { mix-blend-mode: normal; color: var(--titlecolor); border-color: var(--titlecolor); }

.section3 .project-list ul li .right > div .img { width: 64%; position: relative; height: 100%; transition: opacity .6s; } 
.section3 .project-list ul li .right > div .img > div { } 
.section3 .project-list ul li .right > div .img > div img { width: 68%; position: absolute;  left: 8%; top: 0;  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);    } 
.section3 .project-list ul li .right > div .img img:first-child  { transform: translate(0, 0%); transition:all 1.5s linear;  }
.section3 .project-list ul li .right > div .img img:last-child  { transform: translate(0, 70%);  transition:all 1s linear; }


.section3 .project-list ul li .right > div .img:hover img:first-child  { transform: translate(0%, -120%);  transition: all  3s linear;}
.section3 .project-list ul li .right > div .img:hover img:last-child  {  transform: translate(0%, 0%); transition:all 1.5s 3s linear; }

.section3 .project-list ul li .right > div .img::after { content: "마우스를 올려서 이미지를 확인하세요!"; display: block; position: absolute; bottom: 10%; left: calc(50% - 8%); transform: translate(-50% , 0%); padding: 10px 20px;
    background: rgba(0, 0, 0, .2); color: #fff; backdrop-filter: blur(15px); font-size: 0.78vw;
}

.section3 .project-list ul li .right > div .img:hover::after { display: none; }

.section3 .project-list ul li .right > div .text p,
.section3 .project-list ul li .right > div .text h2 ,
.section3 .project-list ul li .right > div .text pre ,
.section3 .project-list ul li .right > div .text a { transform: translate(0%, 100px); opacity: 0; transition: all .6s; }

.section3 .project-list ul li.on .right > div .text h2 { transform: translate(0%, 0); opacity: 1; transition: all 1s; }
.section3 .project-list ul li.on .right > div .text p { transform: translate(0%, 0); opacity: 1; transition: all 1s .3s;}
.section3 .project-list ul li.on .right > div .text pre { transform: translate(0%, 0); opacity: 1; transition: all 1s .3s;}
.section3 .project-list ul li.on .right > div .text a { transform: translate(0%, 0); opacity: 1; transition: all 1s .6s;  }

.section3 .project-list ul li.drop { height: 80px; padding: 60px 0; position: static; top: 0; left: 0; }
.section3 .project-list ul li.drop .right > div .text pre { opacity: 0; }
.section3 .project-list ul li.drop .img { opacity: 0; }



@media screen and (max-width : 1100px) { 
    /* .section3 .project-list ul li .right > div .img > div img { width: 90%; } */
    .section3 .title { margin: 0 var(--leftright); padding: 180px 0; }
    .section3 .title h2 { font-size: 50px; font-weight: 600; }
    .section3 .title p { font-size: 15px; margin-top: 15px; }


    .section3 .project-list ul li { display: block; border:none; position: relative; }

    .section3 .project-list ul li > * { width: 100% !important; }

    .section3 .project-list ul li::after { content: ""; width: calc(100% - 30px) !important; position: absolute; left: 15px; bottom: 0; background: var(--titlecolor); height: 1px; }

    .section3 .project-list ul li { padding: 25px var(--leftright) 0px; height: auto;  } 
    .section3 .project-list ul li .left { width: 100%;  } 
    .section3 .project-list ul li .left > div { margin: 0; display: flex; justify-content: space-between; } 
    .section3 .project-list ul li .left p { font-size: 15px;  } 
    .section3 .project-list ul li .left span { font-size: 13px; } 




    .section3 .project-list ul li .right > div .text a img > div { position: relative; }
    .section3 .project-list ul li .right > div { display: block; height: auto; }
    .section3 .project-list ul li .right > div .text { width: 100%; }
    .section3 .project-list ul li .right > div .img { width: 100%; }


    .section3 .project-list ul li .right > div .text { width: 100%; } 
    .section3 .project-list ul li .right > div .text h2 { font-size: 30px; margin-top: 38px; } 
    .section3 .project-list ul li .right > div .text p { width: 100%;  margin-top: 11px; font-size: 15px; margin-bottom: 30px; } 
    .section3 .project-list ul li .right > div .text a { width: calc(100% - 32px); padding: 15px 15px; margin-top: 17px; font-size: 15px; display: flex; justify-content: space-between; } 
    .section3 .project-list ul li .right > div .text a img {  margin-left: 0px; width: 23px; }    
    .section3 .project-list ul li .right > div .text a:hover img { transform: translate(10px , 0);  }


    .dark .section3 .project-list ul li .right > div .text a { mix-blend-mode: normal; color: var(--titlecolor); border-color: var(--titlecolor); }

    .section3 .project-list ul li .right > div .img { width: auto; position: relative; height: 72vw; margin-top: 38px; overflow: hidden; margin-bottom: 40px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); } 
    .section3 .project-list ul li .right > div .img > div {  } 
    .section3 .project-list ul li .right > div .img > div img { width: 100%; left: 0%; top: 0;   } 
    .section3 .project-list ul li .right > div .img img:first-child { transform: translate(0, 0%); transition:none !important; }
    .section3 .project-list ul li .right > div .img img:last-child { transform: translate(0, 70%); transition:none !important; }
    
    .section3 .project-list ul li .right > div .img:hover img:first-child { transform: translate(0, 0%);  }
    .section3 .project-list ul li .right > div .img:hover img:last-child { transform: translate(0, 70%);   }


    .section3 .project-list ul li .right > div .img::after { display: none; }

    
    .section3 .project-list ul li .right > div .img { transform: translate(0%, 20%); opacity: 0; transition: all .6s;  }
    .section3 .project-list ul li.on .right > div .img { transform: translate(0%, 0); opacity: 1; transition: all 1s .6s;  }



}